@font-face {
  font-family: "Handwriting";
  src: url("path/to/handwriting-font.ttf") format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.img {
  position: absolute;
  float: left;
  height: 8rem;
  width: 10rem;
}
h1 {
  font-weight: normal;
  text-align: center;
}

h3 {
  font-weight: normal;
  text-align: left;
}
h2 {
  margin: 0px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

.price {
  float: right;
  font-weight: bold;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 1em;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: auto;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #07e912;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 3em;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  color: #333;
}

p {
  margin: 0;
}

.price {
  font-weight: 800;
  color: #333;
  font-size: 1.5em;
  /* margin-top: 0.5em; */
}

#pizza {
  background-color: #f7dc6f;
  padding: 2em;
}

#pizza h3 {
  color: #333;
}

#burger {
  background-color: #f0b27a;
  padding: 2em;
}

#burger h3 {
  color: #333;
}

#pasta {
  background-color: #aad9f8;
  padding: 2em;
}

#pasta h3 {
  color: #333;
}

#sandwich {
  background-color: #b4f5df;
  padding: 2em;
}

#sandwich h3 {
  color: #333;
}
#bites {
  background-color: #f7adc3;
  padding: 2em;
}

#bites h3 {
  color: #333;
}
#maggie {
  background-color: #c9b5fa;
  padding: 2em;
}

#maggie h3 {
  color: #333;
}

#beverage {
  background-color: #ccf1a2;
  padding: 2em;
}

#beverage h3 {
  color: #333;
}
#combo {
  background-color: #988ef5;
  padding: 2em;
}

#combo h3 {
  color: #333;
}
.footer {
  text-align: center;
  font-size: small;
}
.Name {
  font-family: "Handwriting", cursive;
  font-size: 2.5em;
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#myBtn {
  all: unset;
  font-size: 2.5rem;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}
#combo {
  margin-bottom: 1em;
}

.details {
  text-align: center;
}

.details a {
  font-size: 5rem;
  padding: 5rem;
  color: black;
  margin: 1rem;
}
.details h3 {
  letter-spacing: normal;
  text-align: center;
  font-family: "Handwriting", cursive;
  color: rgb(55, 119, 119);
  font-size: 4.5rem;
  margin: 1rem 0;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  nav {
    float: none;
    text-align: center;
    margin-bottom: 2em;
  }

  nav li {
    display: block;
    margin: 0;
  }

  section {
    padding: 1em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .price {
    font-size: 1.2em;
  }

  #pizza {
    background-color: #f7dc6f;
  }

  #burger {
    background-color: #f0b27a;
  }

  #pasta {
    background-color: #aad9f8;
  }

  #sandwich {
    background-color: #b4f5df;
  }

  #bites {
    background-color: #f7adc3;
  }

  #maggie {
    background-color: #c9b5fa;
  }

  #beverage {
    background-color: #ccf1a2;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .list li {
    width: 33.33%;
    box-sizing: border-box;
    margin: auto;
    padding: 0.2em 0;
    font-size: 1.1rem;
  }
  .img {
    position: absolute;
    height: 6rem;
    width: 7rem;
  }
  .details a {
    font-size: 3rem;
    padding: 1rem;
  }
  .details h3 {
    font-size: 1.7rem;
  }
}
